h1{
    color: blue;
}

.title{
    color: red;
}

#titleIdea{
    color: green;
}

[href] {
    color: pink;
}

/* SECTION 2 */
.h1 + .h2{
    color: red;
}

.h1 ~ .h3{
    color: green;
}

div > .h4{
    color: purple;
}

/* .div > .h4{
    color: orange;
} */

.div .h4{
    color: blue;
}

/* SECTION 2 Specificity */
/* Style attributes, id, classes, element */
/* 0 1 0 0 */
#title{
    color: purple
}
/* 0 0 1 0 */
h1{
    color: red;
}
/* 0 0 0 1 */
h1{
    color: green;
}
/* 0 0 1 0 */
.title{
    color: red;
}
/*  0 0 0 11 */
ul li ol li ul li ol li ul li h1{
    color: blue;
}
/* 0 0 0 1 */
h1{
    color: brown;
}
*{
    color: yellow;
}
/* BACKGROUND COLOR */
html{
    background-color: pink;
}

body{
    color: red;
    background-color: bisque;
}

div{
   background-color: yellow;
}
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}

strong{
    font-weight: 700;
}

/* FONT SIZE */
h1{
    font-size: 50px;
}

p{
    font-size: 22px;
}

/* LINE-HEIGHT/LETTER-SPACING/TEXT-TRANSFORM */
h1{
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

p{
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1.4px;
}
/* TEXT-DECORATION/TEXT-ALIGNMENT/CH UNIT */
h1{
    /* font-size: 50px; */
    letter-spacing: 5px;
    text-transform: uppercase;
    /* text-decoration: line-through underline overline;
    text-decoration-color: red;
    text-decoration-style: dashed; */
    text-decoration: underline red dashed 5px;
    text-align: right;
}

p{
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: 1.4px;
    text-align: justify;
    max-width: 65ch;
}
/* BOX MODEL */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div{
    font-size: 24px;
    background-color: pink;
    /* BOX MODEL */
    width: 300px;
    height: 100px;
    padding: 16px;
    border: 5px solid black;
    margin: 50px;
}
/* CSS PROJECT */

